.container{
  
}
.first-row, .second-row, .thrid-row, .forth-row, .sixth-row{
  display:inline-block;
  width:100px;
  height:100px;
  color:yellow;
  border:2px solid black;  
  background:yellow;  
}